#root {
  margin: 0 auto;
  text-align: center;
  width: -webkit-fill-available;
}

.App {
  /* background-color: var(--bg-color); */
  margin-bottom: 5em;
  width: 100%;
}

/* ---------------- */
/* Navber */
/* ---------------- */
.navbar {
  background-color: var(--bg-color-secondary);
}
.navbar-items > a {
  padding: 10px;
}
.navbar button {
  color: white;
  font-size: 16px !important;
  font-family: var(--font-family);
  font-weight: 400;
  text-transform: none !important;
}

/* ---------------- */
/* Apge content  */
/* ---------------- */

.main-content {
  /* width: 100%; */
  width: -webkit-fill-available;
  margin-top: 6rem;
  margin-left: 13%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
@media (max-width: 720px) {
  .main-content {
    margin-top: 8rem;
  }
}

@media (max-width: 885px) {
  .main-content {
    margin-left: 0;
  }
}
@media (min-width: 915px) {
  .main-content {
    margin-top: 6rem;
  }
}
.main-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  /* justify-content: space-around; */
}

.container-lstVinyls .MuiCardActions-root button,
.container-lstVinyls .MuiCardActions-root a {
  min-width: 0;
}

/* ---------------- */
/* Player Audio */
/* ---------------- */
.container-audioPlayer-ReactPlayer {
  background-color: var(--bg-color-secondary);
}

.container-audioPlayer-controls svg {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.3em;
  border-radius: 25%;
}

.container-audioPlayer-controls svg:hover {
  background-color: var(--bg-color-secondary);
  cursor: pointer;
}

/* ---------------- */
/* Login - Signup */
/* ---------------- */
#box-Login .MuiFormLabel-root,
#box-Signup .MuiFormLabel-root {
  color: grey;
}
