#root {
  margin: 0 auto;
  text-align: center;
  width: -webkit-fill-available;
}

.App {
  background-color: var(--bg-color);
  margin-bottom: 5em;
  width: 100%;
}

.navbar {
  background-color: var(--bg-color-secondary);
}
.navbar-items > a {
  padding: 10px;
}

.main-content {
  margin-top: 5em;
  width: 100%;
}

.read-the-docs {
  color: #88;
}

.container-lstVinyls .MuiCardActions-root button,
.container-lstVinyls .MuiCardActions-root a {
  min-width: 0;
}

/* ---------------- */
/* List Formats */
/* ---------------- */
.container-lstSection button {
  font-size: 0.71em;
}

/* ---------------- */
/* Player Audio */
/* ---------------- */
.container-audioPlayer-ReactPlayer {
  background-color: var(--bg-color-secondary);
}

.container-audioPlayer-controls svg {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  border-radius: 25%;
}

.container-audioPlayer-controls svg:hover {
  background-color: var(--bg-color-secondary);
  cursor: pointer;
}

/* ---------------- */
/* Login - Signup */
/* ---------------- */

#box-Login .MuiFormLabel-root,
#box-Signup .MuiFormLabel-root {
  color: grey;
}
