#root {
  margin: 0 auto;
  text-align: center;
  width: -webkit-fill-available;
}

.App {
  margin-bottom: 5em;
  width: 100%;
}

.home,
.favoris {
  width: 100%;
}

.read-the-docs {
  color: #888;
}

/* ---------------- */
/* Card Vinyl */
/* ---------------- */
/* .container-lstVinyls .MuiGrid-root .MuiGrid-root{ */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: center; */
/*   align-items: center; */
/* } */
/**/
/* .container-lstVinyls .MuiGrid-root .MuiGrid-root img{ */
/*   clip-path: inset(1% 1% 1% 1%); */
/* } */
/**/
/* .container-lstVinyls .MuiCardActions-root { */
/*   display: flex; */
/*   direction: row; */
/*   justify-content: space-between; */
/*   align-items: center; */
/* } */
/**/

.container-lstVinyls {
  margin-bottom: 4em;
}

.container-lstVinyls .MuiCardActions-root button,
.container-lstVinyls .MuiCardActions-root a {
  min-width: 0;
}

/* ---------------- */
/* List Formats */
/* ---------------- */
.container-lstFormats button,
.container-lstShops button {
  font-size: 0.71em;
}

/* ---------------- */
/* Player Audio */
/* ---------------- */
.container-audioPlayer-controls svg {
  width: 1.4em;
  height: 1.4em;
  margin-left: 0.5em;
  border-radius: 25%;
}

.container-audioPlayer-controls svg:hover {
  background-color: #18181b;
  cursor: pointer;
}

/* ---------------- */
/* Login - Signup */
/* ---------------- */

#box-Login .MuiFormLabel-root,
#box-Signup .MuiFormLabel-root {
  color: grey;
}
