:root {
    --borderRadius: 10px;
    /* --background-content: rgba(255, 255, 255, 0.3); */
    --background-content: linear-gradient(to left, #093028, #237a57);
    /* --background-main: white; */
    /* --background-main: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
    --background-main: linear-gradient(to left, #093028, #237a57);
    --background-player-audio: rgba(255, 255, 255, 0.2);

}



@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}



/*  */
/*  */
/* SCROLL BAR */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    margin-top: 60px;
    margin-bottom: 60px;
    background: linear-gradient(143deg, #007060 0%, #4a7e65 16%, #728c69 33%, #96996e 50%, #b9a772 66%, #dcb476 83%, #ffc17a 100%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgb(36, 35, 35);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000
}



body {
    background-color: #000000;
    padding: 1px;
    margin: 0;
    font-family: 'Share Tech', sans-serif;
    min-height: 100vh;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

*:before {
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-family: 'Share Tech', sans-serif;
}

::-moz-placeholder {
    font-family: 'Share Tech', sans-serif;
}

:-ms-input-placeholder {
    font-family: 'Share Tech', sans-serif;
}

::-ms-input-placeholder {
    font-family: 'Share Tech', sans-serif;
}

::placeholder {
    font-family: 'Share Tech', sans-serif;
}


/*  */
/*  */
/* MAIN */
.main {
    background: linear-gradient(to left top, #000000, #0c0c0c, #141414, #1b1b1b, #212121);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.main-home-content {
    background: var(--background-content);
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 6%;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
}


.main-app {
    background: var(--background-main);
    padding: 20px;
    max-height: 94.8vh;
    width: 100%;
    right: 0;
    overflow-y: scroll;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -ms-transition: width 2s;
    -o-transition: width 2s;
}

.main-app.reduce {
    box-shadow: -4px 0 13.5px -3px black;
    width: 70%;
}



.btn-see-all {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#btn-see-all {
    width: fit-content;
    color: white;
}







/*****************************/
/*****************************/
/*********** FOOTER **********/
/*****************************/
/*****************************/
.footer {
    background: rgb(10, 8, 8);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    color: white;
}

.footer-sponso {
    font-family: 'Gamlangdee', sans-serif;
    font-size: 23px;
    width: 100%;
    padding-left: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-sponso h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1.6px;
}

.footer-social-network {
    width: 100%;
    text-align: center;
}

.footer-social-network h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.footer-social-network .fa-instagram,
.footer-social-network .fa-facebook,
.footer-social-network .fa-youtube {
    color: white;
    margin-right: 10px;
}

.footer-categories {
    display: none;
}