:root {
    --color-btn: #7c7979;
    --box-shadow: 3.5px 3.5px 12.5px 3.5px #000000;
    --back-body: rgb(207 207 207);
    --back-body-dark-mode: black;
    --back-active-track: linear-gradient(148deg, #1f9900 0%, rgba(36, 18, 18, 1) 80%);
    --back-div-element: linear-gradient(333deg, rgb(29, 21, 21) 55%, rgba(163, 4, 4, 1) 90%);
    --back-survol-element-playlist: linear-gradient(148deg, #880000 0%, rgba(36, 18, 18, 0.7) 80%);
    --back-navbar: linear-gradient(333deg, rgba(48, 36, 36) 22%, rgb(180, 19, 19) 56%, rgb(96, 160, 76) 88%);


    --borderRadius: 30px;
}



@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}



body {
    background-color: #000000;
    padding: 1px;
    margin: 0;
    font-family: 'Share Tech', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

*:before {
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-family: 'Share Tech', sans-serif;
}

::-moz-placeholder {
    font-family: 'Share Tech', sans-serif;
}

:-ms-input-placeholder {
    font-family: 'Share Tech', sans-serif;
}

::-ms-input-placeholder {
    font-family: 'Share Tech', sans-serif;
}

::placeholder {
    font-family: 'Share Tech', sans-serif;
}


/*  */
/*  */
/* SCROLL BAR */
::-webkit-scrollbar {
    width: 3px
}

::-webkit-scrollbar-track {
    background: linear-gradient(143deg, #007060 0%, #4a7e65 16%, #728c69 33%, #96996e 50%, #b9a772 66%, #dcb476 83%, #ffc17a 100%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgb(36, 35, 35);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000
}


.main {
    background: linear-gradient(to left top, #000000, #0c0c0c, #141414, #1b1b1b, #212121);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
}



.main-home-content {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
}


.main-app {
    background-color: white;
    padding: 20px;
    max-height: 94vh;
    width: 100%;
    right: 0;
    overflow-y: scroll;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -ms-transition: width 2s;
    -o-transition: width 2s;
}

.main-app.reduce {
    box-shadow: -4px 0 13.5px -3px black;
    width: 70%;
}






/************************************/
/************************************/
/*********** LOGIN SING UP **********/
/************************************/
/************************************/
.box-login-signup {
    background: rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    width: 60%;
}

.box-login-signup h3 {
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.box-login-signup hr {
    width: 92%;
}

.box-login-signup form {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#username,
#password {
    font-size: 28px;
}

input[id="username"i]::-webkit-input-placeholder,
input[id="password"i]::-webkit-input-placeholder {
    font-size: 25px;
}

input[id="username"i]::-moz-placeholder,
input[id="password"i]::-moz-placeholder {
    font-size: 25px;
}

input[id="username"i]:-ms-input-placeholder,
input[id="password"i]:-ms-input-placeholder {
    font-size: 25px;
}

input[id="username"i]::-ms-input-placeholder,
input[id="password"i]::-ms-input-placeholder {
    font-size: 25px;
}

input[id="username"i]::-webkit-input-placeholder,
input[id="password"i]::-webkit-input-placeholder {
    font-size: 25px;
}

input[id="username"i]::-moz-placeholder,
input[id="password"i]::-moz-placeholder {
    font-size: 25px;
}

input[id="username"i]:-ms-input-placeholder,
input[id="password"i]:-ms-input-placeholder {
    font-size: 25px;
}

input[id="username"i]::-ms-input-placeholder,
input[id="password"i]::-ms-input-placeholder {
    font-size: 25px;
}

input[id="username"i]::placeholder,
input[id="password"i]::placeholder {
    font-size: 25px;
}

input[id="username"i],
input[id="password"i] {
    padding: 1px 2px;
    width: 75%;
    height: 60px;
    margin-bottom: 20px;
}

input.btn {
    width: 35%;
    height: 70px;
    color: white;
    background: var(--back-survol-element-playlist);
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 27px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box-login-signup p {
    color: black;
    font-size: 30px;
}

.box-login-signup a {
    color: black;
    font-size: 27px;
    text-decoration: underline
}



/*****************************/
/*****************************/
/*********** FOOTER **********/
/*****************************/
/*****************************/
.footer {
    background: rgb(10, 8, 8);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    color: white;
}

.footer-sponso {
    font-family: 'Gamlangdee', sans-serif;
    font-size: 23px;
    width: 100%;
    padding-left: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-sponso h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1.6px;
}

.footer-social-network {
    width: 100%;
    text-align: center;
}

.footer-social-network h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.footer-social-network .fa-instagram,
.footer-social-network .fa-facebook,
.footer-social-network .fa-youtube {
    color: white;
    margin-right: 10px;
}

.footer-categories {
    display: none;
}