/**********************************/
/**********************************/
/*********** PAGE VINYLS **********/
/**********************************/
/**********************************/
.div-lst-tracks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}


.playlist-ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 50px;
}

.playlist-track-ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 48%;
    padding: 12px 10px 12px 5px;
    margin-bottom: 10px;
}

.playlist-song-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.playlist-info-track {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 65px;
}

.playlist-info-track h5,
.playlist-info-track h3 {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    word-break: break-word;
    text-align: center;
}


.playlist-info-track h5 {
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.playlist-info-track h3 {
    color: white;
    font-weight: 100;
    font-size: 15px;
}


/* btn Favoris  */
.fa-xmark,
.fa-heart {
    margin-right: 10px;
}


.fa-heart,
.fa-xmark,
.fa-arrow-up-right-from-square,
.fa-btn-fav-supp {
    font-size: 20px
}

.active-track {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.active-track .playlist-info-track-title {
    color: #bae400 !important;
}