.navbar {
    position: fixed;
    width: 6%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 55px;
}

.navbar-logo img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
}

.navbar-content {
    height: 80%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.navbar-content i {
    margin-bottom: 35px;
    text-align: center;
}

.navbar-content i::before {
    font-size: 25px;
    color: white;
}

#logo-fa-fav i {
    margin-right: 0;
}


.content-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user-items {
    display: flex;
    flex-direction: column;
}

.user-items p {
    color: white;
}