.div-player-shops.inactive {
    visibility: hidden;
    width: 0%;
}

.div-player-shops.active {
    width: 30%;
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -ms-transition: width 2s;
    -o-transition: width 2s;
}


.div-player.inactive {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity 1.5s ease;
    -webkit-transition: opacity 1.5s ease;
    -moz-transition: opacity 1.5s ease;
    -ms-transition: opacity 1.5s ease;
    -o-transition: opacity 1.5s ease;
}

.div-player.active {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}


.player-ctn {
    width: 0%;
    opacity: 0;
    transition: opacity 1.5s ease;
    -webkit-transition: opacity 1.5s ease;
    -moz-transition: opacity 1.5s ease;
    -ms-transition: opacity 1.5s ease;
    -o-transition: opacity 1.5s ease;
}

.div-player-shops.active .player-ctn {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    opacity: 1;
    width: 65%;
    height: 450px;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition-delay: 1s;
}


.infos-song {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.infos-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos-ctn h3#shop-name-h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.infos-ctn .image {
    margin-bottom: 20px;
}

.infos-ctn img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.img.active {
    -webkit-animation: rotation 5s linear infinite;
    -moz-animation: rotation 5s linear infinite;
    -ms-animation: rotation 5s linear infinite
}

.title-song {
    width: -webkit-fill-available;
    text-align: center;
}

.title {
    width: 100%;
    color: #b40303;
    font-size: 19px;
}

.song {
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    color: black;
}

.btn-ctn {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}


.time-progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    color: black;
}

#myProgress {
    width: 100%;
    background-color: black;
    cursor: pointer;
}

#myBar {
    width: 0;
    height: 5px;
    background-color: #c70505;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.duration,
.timer {
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: 16px;
}


/* all icones in div btn Player */
.btn-ctn>div i:before {
    color: white;
    font-size: 30px;
}

/* btn link Vinyl and Favoris */
a.url-vinyl i::before,
#btn_favori::before {
    font-size: 25px;
}


#icon-pause {
    -webkit-box-shadow: 0 0 29.5px 5.5px #dddddd;
    -moz-box-shadow: 0 0 29.5px 5.5px #dddddd;
    box-shadow: 0 0 29.5px 2.5px #dddddd;
    background-color: white;
    padding: 10px 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#icon-play {
    background-color: white;
    padding: 10px 13px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#icon-play::before,
#icon-pause::before {
    color: black;
}