<!DOCTYPE html>
<html>
    <head>
        <title>Vinyls Dub Scrap - Ecouter les nouveaux extraits de vinyls des Reggae Dub Shops</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/navbar.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/lstTracks.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/playerAudio.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/lstShops.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/searchBar.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/loginAuth.css') }}" />
        <meta
            name="description"
            content="Simplifier votre recherche de vinyls en écouter les nouveaux extraits de vinyls des Shops :Jahwaggysrecords, controltowerrecords, onlyrootsreggae, deeprootsreggae, rastavibes, pataterecords, toolboxrecords, lionvibes, reggaemuseum "
        />
        <meta name="author" content="Kytox" />
        <meta
            name="keywords"
            content="Vinyls, vinyls dub, vinyls reggae, vinyls roots, dub, reggae, roots, sound system, player audio, Ecouter les nouveaux extraits de vinyls des Shops,new vinyls,nouveau vinyls,vinyls vente,Tunguska Sound System,7,10,12,lp,press,boutique reggae en ligne,disquaire,magasin,vpc,dancehall,rocksteady,ska,singles,,cds,dvds,livres,accessoires,imports,jamaicains,musique,disques,vinyles,jamaicains,imports,ventes,achats,écoutes "
        />
        <meta name="identifier-url" content="http://www.vinylsdubscrap.xyz/" />
        <meta charset="utf-8" />
        <meta name="robots" content="index, follow" />
        <link rel="shortcut icon" href="{{ url_for('static', filename= 'img/logo.png') }}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/117361f2ed.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link href="https://fonts.cdnfonts.com/css/gamlangdee" rel="stylesheet" />
        <link href="https://fonts.cdnfonts.com/css/share-tech-2" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://unpkg.com/wavesurfer.js"></script>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8MBZ9Z3RMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-8MBZ9Z3RMV");
    </script>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
