<!DOCTYPE html>
<html>
    <head>
        <title>Vinyls Dub Scrap</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/navbar.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/lstTracks.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/playerAudio.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/lstShops.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/searchBar.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/loginAuth.css') }}" />
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{{ url_for('static', filename= 'img/logo.png') }}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/117361f2ed.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link href="http://fonts.cdnfonts.com/css/gamlangdee" rel="stylesheet" />
        <link href="http://fonts.cdnfonts.com/css/share-tech-2" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://unpkg.com/wavesurfer.js"></script>
    </head>

    <body>
        {% block content %} {% endblock %}
    </body>
</html>
