<div class="footer-sponso">
    <h2>Tunguska Sound System</h2>
    <div class="footer-social-network">
        <a href="https://www.instagram.com/tunguska_soundsystem/"><i class='fa fa-instagram'></i></a>
        <a href="https://www.facebook.com/association.tunguska/"><i class='fa fa-facebook'></i></a>
        <a href="https://www.youtube.com/channel/UC86FkHx40dChij4e9suWG6w/featured"><i class='fa fa-youtube'></i></a>
        <h2>Suivez Nous</h2>
    </div>
</div>

<div class="footer-categories">
<div>
    <h5>Jah Waggys</h5>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'JahWaggys7') }}">New Vinlys 7"</a>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'JahWaggys10') }}">New Vinlys 10"</a>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'JahWaggys12') }}">New Vinlys 12"</a>
    <br>
</div>

<div>
    <h5>Only Roots Reggae</h5>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'OnlyRootsReggae7') }}">New Vinlys 7"</a>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'OnlyRootsReggae1012') }}">New Vinlys 10 / 12"</a>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'OnlyRootsReggaeLP') }}">New Vinlys LP"</a>
    <br>
</div>

<div>
    <h5>Control Tower Records</h5>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'ControlTowerRecords') }}">New Vinlys</a>
    <br>
</div>

<div>
    <h5>Deep Roots Reggae Shop</h5>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'DeepRootsReggaeShop') }}">New Vinlys</a>
    <br>
</div>

<div>
    <h5>Unearthed Sounds</h5>
    <a href="{{ url_for('PagePlayerVinyl', variable = 'UnearthedSounds') }}">New Vinlys</a>
    <br>
</div>
</div>