{% extends 'base.html' %} {% block content %}

<div class="main">
    {% include "navbar.html" %}

    <div class="main-home-content">
        <div id="div-player-shops" class="div-player-shops inactive">
            <div class="div-player">{% include "playerAudio.html" %}</div>

            <div class="div-shop-lst">{% include "lstShops.html" %}</div>
        </div>

        <div id="main-app" class="main-app">
            <div class="entete-app">
                <h1>Home</h1>
                <h2>Ecouter les extraits des nouveaux vinyls des Shops :</h2>
            </div>

            <div class="app">{% include "lstTracks.html" %}</div>
        </div>
    </div>

    <!-- <div class="footer">{% include "footer.html" %}</div>-->
</div>

<script type="text/javascript" src="../static/js/playerAudio.js"></script>

{% endblock %}
