{% extends 'base.html' %}

{% block content %}

<div class="main">
    {% include "navbar.html" %}
    <h1 style="display: none;">Vinyls Dub Scrap - nouveaux extraits vinyls reggae dub shops</h1>

    <div class="main-home-content">
        <div id="div-player-shops" class="div-player-shops inactive">
            <div id="div-player" class="div-player inactive">{% include "playerAudio.html" %}</div>

            <!-- <div id="div-shop-lst" class="div-shop-lst inactive">{% include "lstShops.html" %}</div> -->

            <div id="div-search-bar" class="div-search-bar inactive">{% include "searchBar.html" %}</div>
        </div>

        <div id="main-app" class="main-app">
            <div class="entete-app">
                <h1>{{ msg_head[0] }}</h1>
                <h2>{{ msg_head[1] }}</h2>

                <div id="div-shop-lst" class="div-shop-lst active">{% include "lstShops.html" %}</div>

                <!-- Top for display all vinyls in home page -->
                <p id="top-all-vinyls" style="display: none;">{{ top_all_vinyls }}</p>
                <div class="btn-see-all">
                    <a id="btn-see-all" href="{{ url_for('getAllVinyls') }}" style="display: block;">see All {{ nb_vinyls }} vinyls </a>
                </div>
            </div>

            <div class="div-loader" style="display: none;">
                <span class="loader"></span>
                <p>Les vinyls arrivent dans un instant</p>
            </div>
            <div class="app">{% include "lstTracks.html" %}</div>
        </div>
    </div>

    <!-- <div class="footer">{% include "footer.html" %}</div>-->
</div>

<script type="text/javascript" src="../static/js/playerAudio.js"></script>
<script type="text/javascript" src="../static/js/onLoad.js"></script>
<script type="text/javascript" src="../static/js/displayElements.js"></script>
<script type="text/javascript" src="../static/js/setTimeWait.js"></script>
<script type="text/javascript" src="../static/js/favorisPost.js"></script>

{% endblock %}