<div class="box">
    <h3>Jah Waggys</h3>
    <hr>
    <div class="box-lien">
        <a href="{{ url_for('PagePlayerVinyl', variable = 'JahWaggys7') }}">New Vinlys 7"</a>
        <a href="{{ url_for('PagePlayerVinyl', variable = 'JahWaggys10') }}">New Vinlys 10"</a>
        <a href="{{ url_for('PagePlayerVinyl', variable = 'JahWaggys12') }}">New Vinlys 12"</a>
    </div>
</div>

<div class="box">
    <h3>Only Roots Reggae</h3>
    <hr>
    <div class="box-lien">
        <a href="{{ url_for('PagePlayerVinyl', variable = 'OnlyRootsReggae7') }}">New Vinlys 7"</a>
        <a href="{{ url_for('PagePlayerVinyl', variable = 'OnlyRootsReggae1012') }}">New Vinlys 10 / 12"</a>
        <a href="{{ url_for('PagePlayerVinyl', variable = 'OnlyRootsReggaeLP') }}">New Vinlys LP"</a>
    </div>
</div>

<div class="box">
    <h3>Patate Records</h3>
    <hr>
    <div class="box-lien">
        <a href="{{ url_for('PagePlayerVinyl', variable = 'PatateRecords7') }}">New Vinyls 7"</a>
        <a href="{{ url_for('PagePlayerVinyl', variable = 'PatateRecords1012') }}">New Vinyls 10 / 12"</a>
        <a href="{{ url_for('PagePlayerVinyl', variable = 'PatateRecordsLP') }}">New Vinyls LP"</a>
    </div>
</div>

<div class="box">
    <h3>Control Tower Records</h3>
    <hr>
    <div class="box-lien">
        <a href="{{ url_for('PagePlayerVinyl', variable = 'ControlTowerRecords') }}">New Vinlys</a>
    </div>
</div>

<div class="box">
    <h3>Deep Roots Reggae Shop</h3>
    <hr>
    <div class="box-lien">
        <a href="{{ url_for('PagePlayerVinyl', variable = 'DeepRootsReggaeShop') }}">New Vinlys</a>
    </div>
</div>

<div class="box">
<h3>Unearthed Sounds</h3>
    <hr>
    <div class="box-lien">
        <a href="{{ url_for('PagePlayerVinyl', variable = 'UnearthedSounds') }}">New Vinlys</a>
    </div>
</div>