<div class="div-lst-tracks">
    <div>
        {% for vinyl in list_vinyls %}
        <li id="titre-vinyl" style="display: none">{{ vinyl.vinyl_title }}</li>
        <li id="url-vinyl" style="display: none">{{ vinyl.vinyl_link }}</li>
        <li id="img-vinyl" style="display: none">{{ vinyl.vinyl_image }}</li>
        <li id="mp3-title-song" style="display: none">{{ vinyl.mp3_title }}</li>
        <li id="mp3-url-song" style="display: none">{{ vinyl.mp3_link }}</li>
        {% endfor %}
    </div>

    <div class="playlist-ctn"></div>
</div>
