<div class="navbar">
    <div class="navbar-logo">
        <a id="logo-home" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename= 'img/logo.png') }}" />
        </a>
    </div>

    <div class="navbar-content">
        <div class="content-items">
            <a id="logo-fa-home" href="{{ url_for('index') }}">
                <i class="fa-solid fa-house"></i>
            </a>
            <i class="fa-solid fa-magnifying-glass" style="display: block" onclick="displaySearchBar()"></i>
            <i class="fa-solid fa-music" style="display: block" onclick="displayPlayerAudio()"></i>
            <i class="fa-solid fa-folder" style="display: block" onclick="displayShops()"></i>

            {% if session %}
            <a id="logo-fa-fav" href="{{ url_for('favoris') }}">
                <i class="fa-solid fa-heart"></i>
            </a>
            {% endif %}
        </div>

        <div class="user-items">
            {% if session.username %}
            <p id="name-user-connect">{{ session.username }}</p>
            <a href="{{ url_for('logout') }}" class="btn-logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            {% else %}
            <a href="{{ url_for('login') }}" class="btn-login"><i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="{{ url_for('signup') }}" class="btn-signup"><i class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </div>
    </div>
</div>
