<audio id="myAudio" ontimeupdate="onTimeUpdate()">
    <source id="source-audio" src="" type="audio/mpeg" />
    Your browser does not support the audio element.
</audio>

<div class="player-ctn">
    <!-- <div class="player-entete"> -->
    <div class="infos-song">
        <div class="infos-ctn">
            <div class="image">
                <img class="img" src="" />
            </div>
            <div class="title-song">
                <div class="title"></div>
                <div class="song"></div>
            </div>
        </div>

        <div class="btn-ctn">
            <div class="btn-action" onclick="previous()">
                <div id="btn-faws-rewind">
                    <i class="fas fa-backward"></i>
                </div>
            </div>

            <div class="btn-action" onclick="toggleAudio()">
                <div id="btn-faws-play-pause">
                    <i class="fas fa-play" id="icon-play"></i>
                    <i class="fas fa-pause" id="icon-pause" style="display: none"></i>
                </div>
            </div>

            <div class="btn-play" onclick="next()">
                <div id="btn-faws-forward">
                    <i class="fas fa-forward"></i>
                </div>
            </div>

            <div class="btn-url-vinyl" style="display: none">
                <a href="" target="_blank" rel="noopener noreferrer" class="url-vinyl">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="time-progress">
        <div class="timer">00:00</div>
        <div class="duration">00:00</div>
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
    </div>
    <!-- </div> -->
</div>
