<div class="div-search-form">
    <form id="form" name="form1" role="search" method="GET" accept-charset="utf-8">
        <input id="search" name="req" type="text" placeholder="Enter Title, Artiste, labels"></input>

        <div class="shops-checkbox">
            {% for x in list_shops %}
            <div>
                <input type="checkbox" id={{ x.shop }} name={{ x.shop }} onclick="setTimeWait(name)">
                <label for="horns">{{ x.shop }}</label>
            </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn-98" onClick="loading();">Search</button>
    </form>
    <p id="time-wait">10</p>
</div>