<div class="div-search-form">
    <form id="form" name="form1" role="search" method="POST" action="/search_post" accept-charset="utf-8" onsubmit="loading();">
        <input id="search" name="req" type="text" placeholder="Enter Title, Artiste, labels" value=""></input>

        <button type="submit" class="btn-98">Search</button>
    </form>
</div>

<script>

    function loading() {
        document.querySelector(".app").style.display = "none"
        document.querySelector(".entete-app").style.display = "none"
        document.querySelector(".div-loader").style.display = "block"
    }

</script>